@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
body {
  font-family: "Outfit", "CustomFont", serif;
  li {
    transition: 0.2s ease-in-out;
  }
  scrollbar-width: none;
}
/* Hide scrollbar for Chrome, Safari and Edge */
::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "CustomFont";
  src: url("../src/assets/font/Outfit-VariableFont_wght.ttf") format("woff2");
  //  url('../assets/fonts/CustomFont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.Hero {
  background-image: url(../public/imgs/hero.jpg);
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.743);
  background-blend-mode: multiply;
}
header {
  nav ul {
    .active {
      transform: translateY(-10px) !important;
      li span {
        color: rgb(255, 152, 152) !important;
      }
    }
  }
}
